# local.properties example

# Working directories on the local computer 
local.workingDirectory=${basedir}/build
local.exportDirectory=${basedir}/build/export

# Profiles directory
#local.profilesDirectory=${basedir}/profiles

# Default profile (can be overridden with -Dlocal.profile= from IDE or Ant command line)
local.profile=latestRelease
